* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

.margin-right-left {
    margin: 0 40px;
}

.border {
    border: 1px solid #636363;
    opacity: 0.4;
    position: relative;
    width: 100%;
}

/* 
.full {
    width: 100%;
    margin: 0;
} */




.navbar {
    text-align: center;
    margin: 20px;
}

.navbar span {
    margin-right: 26px;
    font-size: 20px;
    font-weight: bold;
}

.banner {
    width: 100%;
    height: 200px;
    /* background-color: #e4e0e0; */
    /* background-image: linear-gradient(to right, #f3bec7, rgb(247, 55, 247)); */
    background-image: url("https://images.unsplash.com/photo-1683130461782-2a3f1910da18?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80");
    background-position: cent;
}

.banner .banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.banner .banner-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.banner .banner-desc {
    color: #636363;
}

/* Body */
.body__contact {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.body__contact h2 {
    line-height: 40px;
}

.body__contact .contact-subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body__contact .contact-input {
    width: 250px;
    height: 40px;
    border: 2px solid #e4e0e0;
    border-radius: 4px;
    outline: none;
    margin-right: 22px;
    padding-left: 10px;
}

.body__contact button {
    height: 40px;
    width: 92px;
    background-color: #1a1818;
    border-radius: 4px;
    border: none;
}

.body__contact .contact-subscribe p {
    color: #eee;
    font-size: 10px;
}

/* Body Card */

.body__card {
    display: flex;
    gap: 20px;
    width: 100%;
    margin-top: 30px;
}

.card {
    position: relative;
    border-radius: 4px;
    /* border: 1px solid #1a1818; */
    width: 33.33333%;
    /* width: 250px;
    height: 250px; */
    max-height: 300px;

}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;

}

.card .card-detail {
    position: absolute;
    width: 100%;
    top: 62%;
    transform: translateY(-40%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.card .card-detail p {
    color: #eee;
    /* color: red !important; */
}

.card .card-detail p:first-child {
    text-align: center;
    margin-bottom: 20px;
}

.card .card-detail .desc {
    font-size: 24px;
    text-align: center;
}