* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.product-img {
    width: 200px;
    height: 300px;
    cursor: pointer;
}

/* Detail page */
.item-detail {
    width: 500px;
    height: max-content;
    margin: 0 auto;
}