* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: white;
    --primary-color: #C1DCDC;
    --text-color: #1E1E1E;
    --text-color-2: rgba(30, 30, 30, 0.5);
}

body {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    background-color: lightgrey;
    font-size: 16px;
}

a {
    text-decoration: none;
}

.wrapper {
    background-color: var(--background-color);
}

.margin-left-right {
    padding: 30px 70px;
}


ul {
    text-align: center;
}

#content {
    overflow: auto;
}

.column1,
.column2,
.column3 {
    width: 31.3%;
    float: left;
}

.column1 {
    float: left;
}

.column2 {
    margin: 0% 3%;
}

.column3 {
    float: right;
    margin: 0%;
}


li {
    display: inline;
    /* padding: 0.5em; */
}

.banner,
.article {
    background-color: #efefef;
    height: 10em;
    margin-bottom: 1em;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    font-size: 24px;
    font-weight: 400;
    line-height: 27.2px;
}

.nav li {
    padding: 0 20px;
}

.nav li:first-child {
    margin-right: 20px;
    padding: 0;
}

.nav li a {
    font-size: 18px;
    color: var(--text-color-2);
}

.nav .nav-link {
    color: var(--text-color);
}

.top-icon-list .top-icon-list-item {
    padding: 0 0.5rem;
}

.top-icon-list .top-icon-list-item:last-child {
    padding: 0 0 0 0.5rem;
}

/* Content */

/* Banner */
#content {
    margin-top: 30px;
}

#content .banner {
    background-color: var(--primary-color);
}

.banner {
    display: flex;
    width: 100%;
    height: 350px;
    border-radius: 20px;
}

.banner-top {
    width: 82%;
}

.banner .banner-left,
.banner .banner-right {
    width: 50%;
}

.banner .banner-left {
    padding: 40px 0 30px 66px;
}

.banner-top .banner-title {
    font-size: 60px;
    margin-bottom: 22px;
}

.banner-content {
    display: flex;
    justify-content: space-between;
}

.banner-content .banner-content-detail {
    width: 42%;

}

.banner-content .banner-content-detail .content-numb {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.banner-content .banner-content-detail .content-text {
    padding-top: 4px;
    font-weight: 400;
}

.banner-content .banner-content-detail:first-child {
    border-right: 1px solid var(--text-color);
}

/* Search */
.banner-search {
    margin-top: 20px;
    width: 100%;
    position: relative;
}

.banner-search .banner-search-input {
    width: 94%;
    height: 44px;
    border-radius: 8px;
    padding: 16px;
    outline: none;
    border: none;
}

.banner-search button {
    position: absolute;
    top: 4px;
    right: 32px;
    height: 37px;
    background-color: var(--primary-color);
    border: none;
    padding: 10px;
    border-radius: 8px;
}

.banner-right {
    position: relative;
}

.banner-right .banner-right__img {
    position: absolute;
    right: 40px;
    bottom: 0;
    transform: translateY(4px);
    width: 56%;
}

.banner-right .banner-right__img img {
    width: 100%;
}

/* Best sell */
.best-sell {
    display: flex;
    width: 100%;
    margin-top: 50px;
}

.best-sell-left {
    width: 20%;
}

.best-sell-right {
    width: 80%;
}

.best-sell .best-sell__card-wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.best-sell-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}


.best-sell-left .best-sell-info .card-title {
    font-size: 26px;
    font-weight: 700;
}

.best-sell-left .best-sell-info .card-desc {
    font-size: 18px;
    color: var(--text-color-2);
}

.best-sell-left .best-sell-info .card-btn {
    width: 130px;
    height: 40px;
    background-color: var(--primary-color);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 0 40px;
}

.best-sell-info .card-btn img {
    width: 20px;
    margin-left: 10px;
}

.best-sell__card-wrap .best-sell-card {
    width: 30%;
    margin-bottom: 40px;
}

.best-sell__card-wrap .best-sell-card img {
    width: 100%;
}

.best-sell-card .card-detail {
    margin-top: 10px;
}

.card-detail .card-detail-text {
    padding-bottom: 8px;
}

.card-detail .card-detail-price {
    color: var(--text-color-2);
}

/* About */
.about {
    width: 100%;
}

.about .about-title {
    width: 380px;
    margin: 0 auto;
    text-align: center;
}

.about .about-title h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 14px;
}

.about .about-title p {
    font-size: 18px;
    color: var(--text-color-2);
}

.about-items {
    margin-top: 48px;
}

.about-item-wrap .about-item {
    width: 30%;
}

.about-item-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.about-items .about-item-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.about-item-top .about-item-icon-wrap {
    width: 60px;
    height: 60px;
    background-color: var(--primary-color);
    position: relative;
    border-radius: 50%;
    margin-bottom: 12px;
}

.about-item-top .about-item-icon-wrap img {
    width: 46%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-item-top .about-item-text {
    font-weight: 700;
    color: var(--text-color);
}

.about-item .about-item-desc {
    margin-top: 12px;
    color: var(--text-color-2);
    text-align: center;
}

/* Categories */
.categories {
    margin-top: 60px;
}

.categories-wrap .categories-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categories-wrap .categories-title h2 {
    margin-bottom: 16px;
    font-weight: 700;
}

.categories-wrap .categories-title p {
    color: var(--text-color-2);
}

.categories-content {
    background-color: var(--primary-color);
    position: relative;
    padding-bottom: 30px;
    margin-top: 80px;
}

.categories-content .categories-card-wrap {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 40px;
}

.categories-content .categories-card-wrap .card-1,
.categories-content .categories-card-wrap .card-3 {
    padding-bottom: 40px;
    transform: translateY(-60px);
}

.categories-content .categories-card-wrap .card-2 {
    transform: translateY(60px);
}

.categories-card-info {
    margin-top: 10px;
}

.categories-card-wrap .categories-card {
    width: 280px;
    border-radius: 10px;
}

.categories-card img {
    height: 366px;
    width: 100%;
    border-radius: 10px;
}

.categories-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: none;
    width: 112px;
    height: 40px;
    border-radius: 10px;
    margin: 56px auto 20px;
}

.categories-btn p {
    margin-right: 6px;
}

/* review */
.review {
    margin-top: 60px;
}

.review .review-tittle {
    width: 28%;
    margin-bottom: 30px;
}

.review .review-tittle h2 {
    font-weight: 700;
}

.review .review-card-wrap {
    overflow: scroll;
    display: flex;
    column-gap: 40px;
    scrollbar-color: var(--primary-color);
}

.review .review-card-wrap::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

.review .review-card-wrap::-webkit-scrollbar-thumb {
    background-color: gray;
}


.review-card {
    padding: 0 40px;
}

.review .review-card-wrap .review-card {
    background-color: var(--primary-color);
    min-width: 700px;
    min-height: 300px;
    border-radius: 10px;
}

.card-text {
    margin-top: 20px;
    color: var(--text-color-2);
}

.review-person {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.review-person .person-img {
    width: 136px;
    height: 200px;
}

.review-person .person-img img {
    width: 100%;
}

.person-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.person-info-detail .person-name {
    margin-bottom: 10px;
}

/* footer */
.footer {
    margin-top: 66px;
    background-color: var(--primary-color);
    height: 300px;
}

.footer-content-wrap {
    display: flex;
    width: 100%;
}

.footer-left,
.footer-right {
    width: 50%;
    margin-top: 36px;
    padding-left: 90px;
}

.footer-left .top-left p,
.footer-left .top-left h2,
.footer-left .top-left {
    margin-bottom: 10px;
}

.footer-left-icon {
    display: flex;
    width: 35%;
    justify-content: space-between;
    margin: 15px 0;
}

.footer-right table {
    width: 83%;
    height: 136px;
    text-align: left;
}

.footer .copy {
    padding-top: 40px;
    margin-left: 90px;
}