* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --side-bar-color: #FFC297;
    --primary-color: #FF7008;
    --primary-text-color: #1C1C1C;
    --secondary-text-color: #858585;

}

t body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1920px;
    width: 100%;
    height: 100vh;
    display: flex;
}

.container .container-left {
    /* border: 1px solid red; */
    width: 25%;
    display: flex;
    /* height: 1117px; */
    border-right: 1px solid var(--secondary-text-color);
}

.container .container-right {
    /* border: 1px solid red; */
    width: 75%;
    /* float: right; */
}


/* sidebar left */

.sideBar-left {
    cursor: pointer;
}

.container-left .side-bar-left {
    width: 120px;
    height: 100%;
    background-color: var(--side-bar-color);
}



.side-bar__icon-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.icon-left-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 65%;
}

.side-bar__icon-left .logo {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 65px;
    height: 65px;
    cursor: pointer;
}

.side-bar__icon-left .logo img {
    width: 100%;
    border-radius: 50%;
}

.side-bar__icon-left .icon {
    height: 100%;
}

.side-bar__icon-left .icon .icon-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* row-gap: 81px; */
    height: 100%;
}

.icon-list .icon-item a {
    display: inline-block;
    width: 40px;
    height: 39px;
}

.icon-item a svg {
    width: 100%;
    height: 100%;
}

.icon-setting {
    width: 64px;
    height: 64px;
    background-color: var(--primary-color);
    border-radius: 50%;
    position: relative;
    margin-bottom: 24px;
    cursor: pointer;

}

.icon-setting svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* sidebar right */
.sideBar-right {
    width: 100%;
}

.side-bar-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

.side-bar-right__setting {
    display: flex;
    width: 100%;
}

.side-bar-right__setting span {
    display: inline-block;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.side-bar-right__setting span svg {
    width: 12px;
    height: 24px;
    margin-top: 8px;
}

.side-bar-right__setting .setting-text {
    font-size: 32px;
    font-weight: 700;
    color: var(--primary-text-color);
}

.side-bar-right__list {
    margin-top: 30px;
    width: 80%;

}

.side-bar-right__list .setting-feature-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 44px;
}

.setting-feature-item a {
    display: flex;
    align-items: center;
}

.setting-feature-item a i {
    color: var(--secondary-text-color);
    width: 20px;
    height: 20px;
    margin-right: 16px;
}

.active {
    color: var(--primary-text-color);
    font-weight: 700;
}


.setting-feature-item a svg {
    width: 28px;
    height: 28px;
    margin-right: 28px;
}

.setting-feature-item a p {
    font-size: 22px;
    line-height: 25px;
    color: var(--secondary-text-color);
}

.setting-feature-item .feature-edit p {
    /* color: var(--primary-text-color); */
    /* font-weight: 700; */
}

/* Content right */
.container-right {
    /* margin-top: 80px; */
}

.container-right .content {
    padding: 60px 150px 0 100px;
}

header.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.header .content-title .content-title-text {
    font-size: 40px;
    font-weight: 600;
}

.header .content-avatar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-radius: 50%;
    position: relative;
}

.content-avatar img {
    width: 100%;
    border-radius: 50%;
    cursor: pointer;
}


.content-avatar:hover .logOut {
    opacity: 0.8;
    visibility: visible;
}

.logOut {
    visibility: hidden;
    position: absolute;
    width: 100px;
    height: 30px;
    top: 70px;
    right: 0;
    text-align: center;
    transition: opacity 0.5s ease-in-out 0s;
    opacity: 0;
    box-shadow: rgba(66, 62, 62, 0.35) 0px 5px 15px;
}

.logOut p {
    line-height: 30px;
    background-color: #fff;
    cursor: pointer;
}

.logOut::before {
    content: '';
    position: absolute;
    top: -20px;
    right: 0;
    width: 100px;
    height: 20px;

}

/* form */
.content-form .form-control {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.form-control label {
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-text-color);
    padding-bottom: 4px;
}

.form-control input {
    width: 100%;
    height: 50px;
    padding: 12px;
    border: 1px solid var(--secondary-text-color);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.form-control .name-form {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
    width: 100%;
}

.name-form .firstname,
.name-form .lastname {
    width: 50%;
}


.email-form .email-input {
    position: relative;
}

.email-form #checkbox {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 20px;
    bottom: 15px;
    accent-color: green;
    /* transform: translate(-50%, -50%); */
}


.form-control .city-form .select,
.form-control .button {
    width: 400px;
}

.city-form .select select {
    width: 100%;
    height: 40px;
    width: 100%;
    height: 50px;
    padding: 12px;
    border: 1px solid var(--secondary-text-color);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


.form-control .button {
    display: flex;
    justify-content: space-between;
}

.form-control .button .cancel-btn,
.form-control .button .save-btn {
    width: 180px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
}

.form-control .button .cancel-btn {
    border: 1px solid var(--primary-color);
    background-color: #fff;
    color: var(--primary-color);
}


.form-control .button .save-btn {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: #fff;
    transition: all 0.3s;
}

.form-control .button .save-btn:hover {
    transform: scale(1.2);

}


/* Media Query */
@media (max-width: 768px) {
    .container-right .content {
        padding: 60px 90px 0 0;
    }

    .container .container-left {
        border: none;
    }

    .container-left .sideBar-right {
        display: none;
    }

    /* Content Right */
    .form-control .name-form {
        flex-direction: column;
        row-gap: 16px;
    }

    .name-form .firstname,
    .name-form .lastname {
        width: 100%;
    }

    .form-control .city-form .select,
    .form-control .button {
        width: 100%;
    }

    .form-control .button {
        column-gap: 20px;
    }
}